<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NumberSystem Convertor</title>
</head>
<body>
    <div id="app">
        <div>
            <h1>Number System Convertor</h1>
        </div>
    
        <div class="inputBox">
            Decimal: <input v-model="input" type="text">
            <button @click.prevent="process(input)">go</button>
        </div>

        <div>
            <br>
            Binary: {{binary.answer}}
            <br>
            Octal decimal: {{octal.answer}}
            <br>
            hexadecimal: {{hexadecimal.answer}}
        </div>

        <div class="graph">
            <p>Decimal Number to Binary </p>
            <div class="line" v-for=" block in binary.graph">
                <span class="dividend">{{block[0]}}</span> / <span class="divider"> {{binary.base}}</span> = <span class="quotient">{{block[1]}}</span> remainder <span class="remainder">{{block[2]}}</span>
            </div>
        </div>
        
        <hr>
        
        <div class="graph">
            <p>Decimal Number to Octal </p>
            <div class="line" v-for=" block in octal.graph">
                <span class="dividend">{{block[0]}}</span> / <span class="divider"> {{octal.base}}</span> = <span class="quotient">{{block[1]}}</span> remainder <span class="remainder">{{block[2]}}</span>
            </div>
        </div>
        <hr>
        <div class="graph">
            <p>Decimal Number to hexadecimal </p>
            <div class="line" v-for=" block in hexadecimal.graph">
                <span class="dividend">{{block[0]}}</span> / <span class="divider"> {{hexadecimal.base}}</span> = <span class="quotient">{{block[1]}}</span> remainder <span class="remainder">{{block[2]}}</span>
            </div>
        </div>
    </div>
   

    <script src="./vue.global.js"></script>
    <script>
        const a = ''
        const Convertor = {
            data () {
                return{
                    input:  0,
                    binary: {answer:0,base:2, data:[]},
                    octal: {answer:0,base:8, data:[]},
                    hexadecimal:  {answer:0,base:16, data:[]}
                }
            },
  
            methods :{
                converter(base,input){
                    let dividend = Number(input)
                    let answerArray  = [];
                    let loop = true;
                    let data ={answer: '', base: base, graph:[]}; // Structure of graph[[dividend, quotient, remainder]]
                    let graphData = []
                    while(loop){
                        if(dividend ==0){// bug fix for the 0 values in-front of the answers
                            break;
                        }
                        graphData = [] // resting 
                        let remainder = dividend % base;
                        let quotient = (dividend - remainder) / base; 
                        answerArray.push(remainder)
                        

                        // checking if we are at the last quotient
                        if(remainder == quotient){
                            loop = false;
                            console.log(dividend)
                            answerArray.push(quotient)
                            graphData.push(dividend,quotient,quotient)
                            data.graph.push(graphData)
                            

                        }else{
                            graphData.push(dividend,quotient,remainder)
                            data.graph.push(graphData)

                        }
                        dividend = quotient
                    }
                    if(base == 16){
                        answerArray = this.toHexadecimalNumberSystem(answerArray)
                    }
                    data.answer = answerArray.reverse().toString().replaceAll(',' ,  "");
                    return data ;// converting the array to string and reversing it
                },
                toHexadecimalNumberSystem(array){
                    let list =  []
                     array.map( number => {
                        if(number == 10){list.push('A')}
                        if(number == 11){list.push('B')}
                        if(number == 12){list.push('C')}
                        if(number == 13){list.push('D')}
                        if(number == 14){list.push('E')}
                        if(number == 15){list.push('F')}
                        if(number<10){
                            list.push(number)
                        }
                    }
                    )
                    return list;
                },
                process(input) {
                    // to decimal 
                    this.binary = this.converter(2, input)
                    // to octal decimal
                    this.octal = this.converter(8, input)
                    // to hexadecimal
                    this.hexadecimal = this.converter(16, input)
                }
            }
            
        };
        const app = Vue.createApp(Convertor);

        
        app.mount('#app')
    </script>

    <style>
        #app{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            width: 400px;
            margin: 20px auto;
        }
        .line{
            margin-bottom: 5px;
        }
        .dividend{
            width: 23px;
            display: inline-block;
        }
        .quotient{
            width: 23px;
            display: inline-block;
        }
        .divisor{
            width: 23px;
            display: inline-block;
        }
        .remainder{
            margin-left: 23px;
            
        }
        @media screen and (max-width: 480px) {
            #app{padding: 10px}
        }
    </style>
</body>
</html>